<script>
    $(document).ready(() => {
        let $level_enabled       = $('input[name=level_enabled]');
        let $level_enabled_block = $('.level_enabled_block');

        $level_enabled.change(() => {
            if ($level_enabled.is(':checked')) {
                $level_enabled_block.addClass('active');
            } else {
                $level_enabled_block.removeClass('active');
            }
        });
    });
</script>
<style>
    .vcenter {
        vertical-align: middle !important;
    }
    .level_enabled_block {
        display: none;
    }
    .level_enabled_block.active {
        display: block;
    }
</style>

<form action="?" method="post" enctype="multipart/form-data" name="frmEdit">
    <div class="form-group">
        <label class="control-label"[#if ERR_TOKEN#] style="color:red;font-weight:bold"[#endif#]>
            <#LANG_NE_TOKEN#>:
        </label>
        <input type="text" name="token" value="[#TOKEN#]" minlength="32" maxlength="32" required class="form-control">
    </div>
    <div class="form-group">
        <label class="control-label">
            <input type="checkbox" name="level_enabled" [#if LEVEL_ENABLED="1"#]checked[#endif#]> <#LANG_NE_LEVEL_ENABLED#>
        </label>
        <div class="level_enabled_block [#if LEVEL_ENABLED="1"#]active[#endif#]">
            <div class="help-block">
                <#LANG_NE_LEVEL_ENABLED_HELP#>
            </div>
            <table class="table table-bordered text-center">
                <tr>
                    <th width="15%" class="vcenter"><#LANG_NE_LEVEL#></th>
                    <td width="10%" colspan="2">
                        <input type="number" value="0" class="form-control input-sm" readonly>
                    </td>
                    <td width="5%" class="vcenter"><</td>
                    <td width="10%" colspan="2">
                        <input type="number" name="level_high" value="[#LEVEL_HIGH#]" min="0" max="[#LEVEL_MAX_VALUE#]" step="1" class="form-control input-sm">
                    </td>
                    <td width="5%" class="vcenter"><</td>
                    <td width="10%" colspan="2">
                        <input type="number" name="level_normal" value="[#LEVEL_NORMAL#]" min="0" max="[#LEVEL_MAX_VALUE#]" step="1" class="form-control input-sm">
                    </td>
                    <td width="5%" class="vcenter"><</td>
                    <td width="10%" colspan="2">
                        <input type="number" name="level_low" value="[#LEVEL_LOW#]" min="0" max="[#LEVEL_MAX_VALUE#]" step="1" class="form-control input-sm">
                    </td>
                    <td width="5%" class="vcenter"><</td>
                    <td width="10%" colspan="2">
                        <input type="number" name="level_lowest" value="[#LEVEL_LOWEST#]" min="0" max="[#LEVEL_MAX_VALUE#]" step="1" class="form-control input-sm">
                    </td>
                    <td width="5%" class="vcenter"><</td>
                    <td width="10%" colspan="2">
                        <input type="text" value="[#LEVEL_MAX#]" class="form-control input-sm" readonly>
                    </td>
                </tr>
                <tr>
                    <th width="15%" class="vcenter"><#LANG_NE_PRIORITY#></th>
                    <td width="15%" colspan="3"><span class="label label-danger"><#LANG_NE_PRIORITY_HIGHEST#></span></td>
                    <td width="15%" colspan="3"><span class="label label-warning"><#LANG_NE_PRIORITY_HIGH#></span></td>
                    <td width="15%" colspan="3"><span class="label label-info"><#LANG_NE_PRIORITY_NORMAL#></span></td>
                    <td width="15%" colspan="3"><span class="label label-default"><#LANG_NE_PRIORITY_LOW#></span></td>
                    <td width="15%" colspan="3"><span class="label label-default"><#LANG_NE_PRIORITY_LOWEST#></span></td>
                    <td width="10%"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" name="ne_action" value="settings" class="btn btn-primary"><#LANG_NE_ACTION_SAVE#></button>
        <input type="hidden" name="view_mode" value="">
    </div>
</form>